.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-container {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    position: relative;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .evento-card {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .evento-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #00796b;
  }
  
  .evento-card p {
    margin: 5px 0;
    color: #333333;
  }
  

  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .close-icon:hover {
    color: #ff0000; 
  }
  
  .action-butt {
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-butt:hover {
    background-color: #0056b3;
  }
  
